@{
    ViewData["Title"] = "Home Page";
}

@using System.Net.Http

@{
    var client = new HttpClient();

    var result = await client.GetStringAsync("http://webcode.me");
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>   
</div>


<h4>The response from html request is:</h4>
@result